@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}


.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: #0d314d;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
  margin-left: 20%;
}

.button:hover {
  opacity: 1;
}


.menu {
  height: 4em;
  background-color: #677ae4;
  background-color: #05526A;
  background-color: #10405c;
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}



.body {
  padding: 15px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #050505;
  text-align: left;
  padding: 8px;
}

.input-div, .file-table{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(2, 98, 136);
  padding: 20px;
}

.input-box{
  margin-left: 20%;
  width:50%;
  padding: 15px;
}

/* .graph-div{
  margin:auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 50px;
} */
.login-head {
  margin:auto;
  width: 50%;
  padding: 10px;
}
.login-head h1 {
  margin-left: 20%;
  position: relative;
  padding: 5px 0 0 8px;
  color: #0f4583;
  font-size: 2.8em;
  font-style:oblique;
}