<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>GetMyFiles</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="search" class="menu-about">
      |Search Files|
    </LinkTo>
  </div>
</nav>