{{page-title "Chart"}}
<h1>{{ this.title }}</h1>

<div class="graph-div">
    {{#each @model as |data|}}
    {{fusioncharts-xt width="1500" height="350" type="column3d" dataFormat="json"
    dataSource=data }}
    <br>
    {{/each}}
</div>

